 .navbar{
            background-color: rosybrown;
            padding: 15px 30px;
            width: 96.5%;
        }
        .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
        }
        .logo{
            color: navajowhite;
            font-size: 40px;
            font-weight: bold;
        }
        .nav-menu{
            display:flex;
            list-style: none;
            gap: 40px;

        }
        .nav-item{

        }
        .nav-link{
            color: honeydew;
            text-decoration: none;
            font-weight: bold;
            font-size: 26px;
            padding: 10px;
            border-radius: 20%;
        }

        .signup-btn{
            padding: 20px;
            border-radius: 100%;

        }
        .signup-btn:hover{
            background-color: peru;
        }
        a:hover{
            background-color: peru;
            padding: 20px;

        }

        main{
            background-color: navajowhite;
            padding: 40px;
            border-radius: 10px;
            margin:20px auto;
            max-width:1000px;

        }
        .about-us{
            color:black;
            font-size: 20px;
            font-family: system-ui;
        }
        h2{
            border-bottom: 2px solid rosybrown;
        }
        .hero-image {
            height: 500px;
            border-radius: 15px;
            background-size: cover;
            background: url("Assets/Images/library-869061_1280.jpg") center;
        }
        .hero-text{
            color: darksalmon;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            position: relative;
            top: 50%;
        }
        ul{
            list-style:none;
            display: flex;
            gap: 40px;
            justify-content: space-between;
        }
        iframe{
            border-radius: 15px;
            width: 100%;
        }
        footer{
            background-color: rosybrown;
            border-radius: 15px;
        }
        .youtube{
            display: flex;
            justify-content:space-between;
             }
        .mine{
            width: 500px;
        }